 {
	"blog.portfolio.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f7019003-3159-4101-98b3-22c1ebca312e"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "c1cfe3c3-9561-43fc-b67e-c53f2e9e7185"
			}
		}
	},
	"blog.portfolio.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f7019003-3159-4101-98b3-22c1ebca312e"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "d97ebb40-9c46-40d2-9973-77a0eede9c4a"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "3b3db9a0-7419-43cc-8f2c-9cc9d9cdf6d7"
			}
		}
	}
}